* {
    font-family: "Montserrat", sans-serif;
    color: #152237;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#navbar {
    width: 100%;
    height: 80px;
    background-color: #152237;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 15px;
    box-sizing: border-box;
}

.logo {
    width: 84px;
}

#connexion {
    display: flex;
    gap: 5%
}

.connexion {
    color: #152237;
    font-size: 15px;
    width: 130px;
    height: 40px;
    border: 0px none;
    border-radius: 6px;
    background: #FFF;
}

.inscription {
    color: #152237;
    font-size: 15px;
    background-image: linear-gradient(to right, #44DD8A, #15B7E2);
    width: 130px;
    height: 40px;
    border: 0px none;
    border-radius: 6px;
}

.recherche{
    position: relative;
    width: 30%;
}

.recherche-child {
    width: 100%;
    height: 40px;
    background-color: #152237;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 6px;
    padding-left: 17px;
    font-size: 15px;
    flex-grow: 1;
}

.recherche-child::placeholder {
    color: white;
    font-size: 15px; 
}

#icone {
    width: 24px;
    position: absolute;
    right: 0;
    top: 24%;
}

.formation {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#hero {
    position: relative;
    width: 100%;
    height: 540px;
    background: linear-gradient(to right, #44DD8A, #15B7E2);
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    
}

#hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("ressources/bg-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
}

#hero > * {
    position: relative;
    z-index: 1;
}


#hero-title {
    color: #152237;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

#hero-subtitle {
    color: #152237;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

#hero-content {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-direction: column;
    align-items: center;
}

#hero-button {
    color: v#152237;
    font-size: 15px;
    width: 130px;
    height: 40px;
    border: 0px none;
    border-radius: 6px;
    font-weight: 500px;
    background: #FFF;
}

#section1 {
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    width: 93%;
    display: flex;

}

.section1-title {
    color: #152237;
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 1.5%;
    box-sizing: border-box;
    
}

.card-padding {
    padding: 10px;
}

.card {
    height: 365px;
    width: 21%;
    min-width: 305px;
    max-width: 1000px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    gap: 20px;
}

.card-img {
    background-color: #44DD8A;
    height: 216px;
    width: 110%;
    margin-left: -10px;
    margin-top: -10px;
    
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 28px;
}

.card-subtitle {
    font-size: 16px;
    font-weight: 400;
}

.price-position {
    position: absolute;
    top: 52%;
    right: 10px;
}

.price {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 120px;
    height: 31px;
    font-size: 20px;
    font-weight: 700;
    background-color: #152237;
    border-radius: 93px;
    color: #FFF;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 10px;
}

.price-before {
    font-size: 10px;
    font-weight: 400;
    color: #FFF;
    text-decoration: line-through;
}

.star-lines {
    display: flex;
    padding: 0;
    margin: 0;
}

.button-section {
    color: #FFF;
    background-color: #152237;
    font-size: 15px;
    font-weight: 500;
    width: 225px;
    height: 40px;
    border: 0px none;
    border-radius: 6px;
}

#section2 {
    width: 100%;
    height: auto;
    background-color: #152237;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.reversed {
    color: white;
}

.bg-reversed {
    background-color: white;
    color: #152237;
}

#section3 {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

#section3-title {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#client-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 50px;
    gap: 50px;
}

.client-card {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;

}

.client-img {
    width: 139px;
    height: 139px;
    border-radius: 50%;
    
}

.client-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.client-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    width: 656px;
}

.star {
    width: 116.13px;
    height: 19.2px;
}

#section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
    height: auto;
    width: 100%;
    background-color: #F5F5F5;
    flex-wrap: wrap;
}

#fourth-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 95%;
    position: relative;
    height: 92%;
}

#fourth-title {
    font-size: 40px;
    font-weight: 900;
    position: absolute;
    top: 0;
    text-transform: uppercase;
}

.li {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: -7px;
    display: inline-flex;
    align-items: flex-start;
}

.li-text {
    font-size: 24px;
    margin-left: 10px;
    font-weight: 400;
}

.list-img {
    width: 30px;
    
}

.section4-img {
    height: 472px;
    width: 727px;
    
}

#section5 {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 50px;
    background-color: #44DD8A;
    box-sizing: border-box;
}


#content5 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    width: 95%;
    position: relative;
    height: 92%;
}

#title5 {
    font-size: 40px;
    font-weight: 900;
    position: absolute;
    top: 0;
    text-transform: uppercase;
}

.ul {
    width: 650px;
    height: 100%;
    list-style-type: none;
    margin-top: 18%;
}

.fifth-li {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: -7px;
}

.section5-img {
    height: 472px;
    width: 727px;
    
}

#section6 {
    display: flex;
    height: auto;
    min-height: 740px;
    width: 100%;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

#left-content {
    width: 52%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    box-sizing: border-box;
}

#right-content {
    width: 48%;
    background-color: #152237;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-logo {
    width: 50%;
}

#section6-title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#section6-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}

#section7 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

#section7-title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

#title-line {
    border: 1px solid #44DD8A;
    width: 18%;
    margin-top: 25px;
}

#form-contener {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

#first-row {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section7-input {
    width: 45%;
    background-color: #152237;
    height: 45px;
    border: none;
    box-sizing: border-box;
    padding: 15px;
    color: white;
}

.section7-input::placeholder{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#text-input {
    width: 100%;
    margin-top: 50px;
}

#section7-text-area {
    width: 100%;
    height: 194px;
    background-color: #152237;
    border: none;
    box-sizing: border-box;
    padding: 15px;
    resize: none;
    color: white;
}

#section7-text-area::placeholder {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#section7-button {
    background-color: #44DD8A;
    border: none;
    width: 351px;
    height: 45px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 50px;
}

